body{
    font-family: sans-serif;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background-color: blue;
    color: white;
    align-items: center;
}

.menu{
    list-style-type: none;
}

.menu li{
    display: inline;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.myflexdiv{
    display: flex;
    gap: 10px;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 0 50px;
}

.course{
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    flex: 1;
    transition: 0.4s;
    cursor: pointer;
}

.course:hover{
    /* transform: scale(1.03); */
    transform: translateY(-5px);
}